<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photoa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoA">
        <activity
            android:name=".Job6"
            android:label="@string/title_activity_job6"
            android:theme="@style/Theme.PhotoA.NoActionBar"></activity>
        <activity android:name=".Job5" />
        <activity android:name=".Job4" />
        <activity android:name=".Job3" />
        <activity android:name=".job2" />
        <activity android:name=".Job1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>